<div id="gchart-column-{{count}}"></div>

<script>
google.setOnLoadCallback (gchart_column_{{count}});

function gchart_column_{{count}} () {
	var data = new google.visualization.DataTable ();

	{% foreach labels as label %}
	data.addColumn ('{{label->type}}', '{{label->label}}');
	{% end %}

	data.addRows ({{data|json_encode}});

	var options = {
		width: {{width}},
		height: {{height}}
	};

	{% if title %}
	options.title = "{{title}}";
	{% end %}

	{% if bgcolor %}
	options.backgroundColor = "#{{bgcolor}}";
	{% end %}

	{% if legend %}
	options.legend = "{{legend}}";
	{% end %}

	var chart = new google.visualization.ColumnChart (document.getElementById ('gchart-column-{{count}}'));
	chart.draw (data, options);
}
</script>
